<head>
<title>Tracks</title>
</head>
<div style="width:auto;height:auto;border:1px solid black;display:flex;margin:0 auto;flex-direction:column;align-items:center;padding:20px;">

<h1><%= @train.name  %></h1>
<span> Created by <%= @train.maker %> in <%= @train.year %> </span>
<p></p>
<span>This train has been worked on by...</span>
<ul>
<% @train.employees.each do |employee| %>
<li> <a href="<%="/employees/#{employee.id}"%>">
  <%= employee.name %>
</a></li>
<% end %>
</ul>
<a href="<%="/trains"%>">Back to Train Index</a>

</div>
